.list-tab{
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
}

table{

}

p, td, th, tr{
    color:#2f4f9b;
    text-align: center;
}

h2 {
    color:#ee2b54;
    text-align: center;
    font: bold 35px Arial, Helvetica, sans-serif;
}

h1{
    color:#2f4f9b;
    font: bold 40px Arial, Helvetica, sans-serif;
}


body{
 background-color: transparent;
}

tr, td{
    font: bold 30px Arial, Helvetica, sans-serif;
}
