<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Lista obecności</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
</head>
<body>

<div class="jumbotron jumbotron-fluid">

    <h2>Lista obecnosci</h2>

</div>

    <div class="container">
        <div class="list-tab">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>
                                <p th:text="'Wolne: ' + ${holidayCount}"/>
                            </th>
                        </tr>
                        <tr th:each="holiday : ${holidayList}">
                            <td th:text="${holiday.getName()}">Name</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>
                                <p th:text="'Zdalnie: ' + ${remoteCount}"/>
                            </th>
                        </tr>
                        <tr th:each="remote : ${remoteList}">
                            <td th:text="${remote.getName()}">Name</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</body>
</html>