<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Lista obecności</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>

    <script>

        setTimeout(location.reload.bind(location), 15000);

    </script>

</head>
<body>

<div class="jumbotron jumbotron-fluid" style="height: 200px">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="../static/css/lologo.png" th:src="@{/css/logo.png}" class="rounded" alt="Yieldbird Logo" height="50" width="300"/>
            </div>
            <div class="col-sm-8">
                <h1>LISTA NIEOBECNOŚCI</h1>
            </div>


        </div>
    </div>


</div>

<div class="container">
    <div class="list-tab">
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            <h2 th:text="'Wolne: ' + ${holidayCount}"/>
                        </th>
                        <th>
                            <h2 th:text="'Do dnia: '"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="holiday : ${holidayList}">
                        <td th:text="${holiday.getName()}">Name</td>
                        <td th:text="${holiday.getDate()}">Data</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            <h2 th:text="'Zdalnie: ' + ${remoteCount}"/>
                        </th>
                        <th>
                            <h2 th:text="'W dniu: '"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="remote : ${remoteList}">
                        <td th:text="${remote.getName()}">Name</td>
                        <td th:text="${remote.getDate()}">Data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>